<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultimate Packing List</title>
</head>
<body>
    <a href='/master-list'>Master List</a><br/>
    <a href='/already-packed'>Already Packed</a><br/>
    <a href='/'>Home/My List</a><br/><br/>

    <h2>Add An Item</h2>
    <form method='POST' action='/add-item'>
        <input type='text' placeholder='Enter name' name='name'>
        <input type='text' placeholder='category' name='category'>
        <button>Save</button>
    </form>
    <a href="/">Return Home</a>
</body>
</html>