<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultimate Packing List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        a {
            color: white;
        }
        a:hover {
            color: #66D3FA;
        }
        body {
            background-color: #66D3FA;
            background-image: linear-gradient(navy, #66D3FA);
            color: white;
            font-family: 'Montserrat', sans-serif;
            margin: 0 auto;
        }
        button {
            background-color: white;
            color: navy;
            font-style: bold;
            padding: 10px;
            border-radius: 15px;
            margin: 0px 2px;
        }
        button:hover {
            background-color: navy;
            color: white;
        }
        nav {
            padding: 10px;
            background-color: white;
            display: flex;
            justify-content: flex-end;
        }
        p {
            padding: 10px;
        }
        .buttons {
            display: flex;
        }
        .intro {
            text-align: center;
            padding: 15px 0px;
        }
        .main {
            padding: 0px 15px;
            font-size: 1.25rem;
        }
        .navlink {
            color: navy;
            padding: 10px 20px;
            font-size: 1.25rem
        }
        .navlink:hover {
            color: #66D3FA;
        }

    </style>
</head>
    <nav>
        <a class="navlink" href='/'>Home</a><br/>
        <a class="navlink" href='/my-master-list'>My Master List</a><br/>
        <a class="navlink" href='/add-item'>Add To Master</a><br/>
        <a class="navlink" href='/already-packed'>Packed</a><br/>
        <a class="navlink" href='/auth'>Sign Up/Login</a><br/>
    </nav>
    <body>
        <div class="main">
            <h1>Already Packed</h1>
            <form method='POST' action='/all-to-master-list'>
            <button>Return ALL Items To Master List</button>
            </form>
            {{#items}}        
            <ul style="list-style:none">
                <li>{{name}} <em>({{category}})</em> Qty: {{quantity}}
                <div id=buttons style="display: flex">
                <form method='POST' action='/unpack'>
                    <input type='hidden' value='{{item_id}}' name='item_id'>
                    <button>Unpack (Return to My List)</button>
                </form>
                <form method='POST' action='/de-list-from-packed'>
                    <input type='hidden' value='{{item_id}}' name='item_id'>
                    <button>Return Item To Master List</button>
                </form>
                </div>
                </li>
            </ul>
            {{/items}}
        </div>    
    </body>
</html>