<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultimate Packing List</title>
    <style>
        body {
            background-color: #66D3FA;
        }
    </style>
</head>
<body>
    <a href='/master-list'>Master List</a><br/>
    <a href='/add-item'>Add Item To Master List</a><br/>
    <a href='/already-packed'>Already Packed</a><br/>

    <h1>To Be Packed (My List)</h1>
    <p style="font-size: 20px;"><em>(To add items to your list, go to <a href='/master-list'>Master List</a>)</em></p>
    {{#items}}
    <ul style="list-style:none">
        <li>Item: {{name}}<br/>
            Category: <em>{{category}}</em><br/>
            Qty: {{quantity}}<br/><br/>
        <div id=buttons style="display: flex">
        <form method='POST' action='/pack-item'>
            <input type='hidden' value='{{item_id}}' name='item_id'>
            <button>Pack Item</button>
        </form><br/><br/>
        <form method='POST' action='/de-list-from-my-list'>
            <input type='hidden' value='{{item_id}}' name='item_id'>
            <button>Return Item to Master List</button>
        </form>
        </div>
        </li>
    </ul>
    {{/items}}
    </body>
</html>