<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultimate Packing List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        a {
            color: white;
        }
        a:hover {
            color: #66D3FA;
        }
        body {
            background-color: #66D3FA;
            background-image: linear-gradient(navy, #66D3FA);
            color: white;
            font-family: 'Montserrat', sans-serif;
            margin: 0 auto;
        }
        button {
            background-color: white;
            color: navy;
            font-style: bold;
            padding: 10px;
            border-radius: 15px;
            margin: 0px 2px;
        }
        button:hover {
            background-color: navy;
            color: white;
        }
        nav {
            padding: 10px;
            background-color: white;
            display: flex;
            justify-content: flex-end;
        }
        p {
            padding: 10px;
        }
        .buttons {
            display: flex;
        }
        .intro {
            text-align: center;
            padding: 15px 0px;
        }
        .main {
            padding: 0px 15px;
            font-size: 1.25rem;
        }
        .navlink {
            color: navy;
            padding: 10px 20px;
            font-size: 1.25rem
        }
        .navlink:hover {
            color: #66D3FA;
        }

    </style>
</head>
    <nav>
            <a class="navlink" href='/'>Home</a>
            <a class="navlink" href='/master-list'>Master List</a><br/>
            <a class="navlink" href='/add-item'>Add Item To Master List</a><br/>
            <a class="navlink" href='/already-packed'>Already Packed</a><br/>
    </nav>
    <body>
        <div class="main">
            <div class="intro">
                <h1>Sign Up / Login</h1>
            </div>
            <h1>New User Sign Up</h1>
            <form method='POST' action='/register'>
            <label for='username'>Username:</label>
            <input type='text' name='username'>
            <label for='password'>Password:</label>
            <input type='password' name='password'>
            <button>Register</button>
            </form>
            <br/><br/>
            <h1>Existing User Login</h1>
            <form method='POST' action='/login'>
                <label for='username'>Username:</label>
                <input type='text' name='username'>
                <label for='password'>Password:</label>
                <input type='password' name='password'>
                <button>Login</button>
                </form>
            </div>
    </body>
</html>