<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultimate Packing List</title>
</head>
<body>
    <a href='/add-item'>Add Item To Master List</a><br/>
    <a href='/already-packed'>Already Packed</a><br/>
    <a href='/'>Home/My List</a><br/><br/>

    <h1>Already Packed</h1>
    {{#items}}
    <ul style="list-style:none">
        <li>{{name}} <em>({{subcategory}})</em> Qty: {{quantity}}
        <div id=buttons style="display: flex">
        <form method='POST' action='/unpack'>
            <input type='hidden' value='{{item_id}}' name='item_id'>
            <button>Unpack (Return to My List)</button>
        </form>
        <form method='POST' action='/de-list'>
            <input type='hidden' value='{{item_id}}' name='item_id'>
            <button>Return Item To Master List</button>
        </form>
        </div>
        </li>
    </ul>
    {{/items}}

    
</body>
</html>