<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultimate Packing List</title>
</head>
<body>
    <a href='/add-item'>Add Item To Master List</a><br/>
    <a href='/already-packed'>Already Packed</a><br/>
    <a href='/'>Home/My List</a><br/><br/>

    <h1>Master List</h1>
    <form method='POST' action='/all-to-my-list'>
    <button>Copy ALL Items To My List</button>
    </form>
    {{#items}}
    <ul style="list-style:none">
        <li>{{name}} <em>({{category}})</em> Qty: {{quantity}}
        <form method='POST' action='/update-list'>
            <input type='hidden' value='{{item_id}}' name='item_id'>
            <button>Move To My List</button>
        </form>
        </li>
    </ul>
    {{/items}}

    
</body>
</html>